.column {
    display: flex;
    flex-direction: column;
    width: 240px;
    max-height: 600px;
    margin: 20px;
    border-radius: 4px;
    background-color: #e6e6e6;
    overflow: hidden;
}

.column-title {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
}

.droppable-area {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.droppable-area::-webkit-scrollbar {
    width: 12px;
}

.droppable-area::-webkit-scrollbar-track {
    background-color: #e6e6e6;
    border-radius: 4px;
}

.droppable-area::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 4px;
    border: 2px solid #e6e6e6;
}

.droppable-area::-webkit-scrollbar-thumb:hover {
    background-color: #696969;
}